<!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title></title>
 	<style type="text/css">
          body{
          	font-family: Roboto;
          }
	     
		


		

 			.appStore{
 			  margin: 0.5rem ;
 			}
 			.btnLink{
 			  margin: 0.5rem ;
 			}

 			.footerIcon{
 			  width: 30px;
 			  height: 30px;
 			  margin-left: 0.8rem;
 			 }


 			 @media (max-width: 767px){
 			  .listText{
 			    font-size: 0.9rem;
 			  }
 			  .info{
 			    font-size: 1rem;
 			  }
 			  .buttonImage{
 			  width: 7rem;
 			  height: auto;
 			  border: 1px solid white;
 			  border-radius: 6px;
 			}

 			.appStore{
 			  margin: 0.3rem ;
 			}
 			.btnLink{
 			  margin: 0.3rem ;
 			}

 			
 			 }		
 	</style>
 </head>
 <body style="">

	
 	<div class="home container" style=" margin-right: auto; margin-left: auto;margin-top: 0; width: 75%; height:auto; background-image: url(http://zunroof.com/img/newImg/emailer_image.jpg); background-position: center center; background-repeat: no-repeat;  background-size: 100% 100%;
 ">
 		<div style="display: flex;justify-content: center;margin-top: 5%; margin-bottom: 3%;padding-top: 5%;">
 			<!-- <button  style="background-color: green; color: white; width: 25%; height: auto; padding: 2%;border-radius: 2px; margin:0 auto;" ><a style="color: white;text-decoration: none; font-size: 1rem; " href="www.zunroof.com"> GO TO ZUNROOF.COM</a>
 		   </button> -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" style="border-radius: 3px;" bgcolor="green"><a href="https://www.zunroof.com/" target="_blank" style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: white; text-decoration: none; border-radius: 3px; display: inline-block; padding: 12px 18px; border: 1px solid #e9703e;">GO TO ZUNRROOF.COM</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
 		</div>
 		<div style="display: flex;justify-content: center;padding-bottom: 35%; margin-top: 3%;">
 		  <!-- <button style="background-color: white; color: black; width: 20%; height: auto;  padding: 2%;
 		    border-radius: 2px solid green; margin: 0 auto;"><a style="color: black;text-decoration: none; font-size: 1rem; " href="">DOWNLOAD APP</a>
 	      </button> -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center">
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center" style="border-radius: 3px;" bgcolor="white"><a href="https://www.zunroof.com/" target="_blank" style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 3px; display: inline-block; padding: 12px 18px; border: 1px solid green;">DOWNLOAD APP</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
 	    </div>
 	 </div>
    

     <div class="feature" style=" margin-right: auto; margin-left: auto; width: 75%; background-color: #fff;">
     	<div class="name" style="display: flex; justify-content: center;">
     		 <h3 style="margin: 5px ;"> DEAR <span style="text-transform: uppercase;text-align: center">{{name}}</span></h5>
     	</div>
     	<div class="">
     		<p style="margin: 1rem auto;font-size: 1.05rem;">
     			Thanks a lot for contacting us again. We have noted your details below and our team will give you a call within the next 24 to 48 hours.
     		</p>
     		
     	</div>
     	<div class="userInfo" style="border: 1px dotted black; ">
     		<h4 style="margin-left:  10%;"><img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" style="width: 1rem;height: auto;"><span>  Name : </span><span>{{name}}</span></h4>
     		<h4 style="margin-left:  10%;"><img src="https://cdn0.iconfinder.com/data/icons/filled-phone-icons/24/4-512.png" style="width: 1rem;height: auto;"><span>  Phone : </span><span>{{phone}}</span></h4>
     		<h4 style="margin-left:  10%;"><img src="https://cdn4.iconfinder.com/data/icons/maps-and-navigation-solid-icons-vol-1/72/19-512.png" style="width: 1rem;height: auto;"><span>  Pincode : </span><span>{{pincode}}</span></h4>
            <h4 style="margin-left:  10%;"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/512x512/plain/money_bills.png" style="width: 1rem;height: auto;"><span>  Date : </span><span> {{datepicker}}</span></h4>
            <h4 style="margin-left:  10%;"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/512x512/plain/money_bills.png" style="width: 1rem;height: auto;"><span>  Slot : </span><span> {{slot}}</span></h4>
            <h4 style="margin-left:  10%;"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/512x512/plain/money_bills.png" style="width: 1rem;height: auto;"><span>  Building TYpe : </span><span> {{type}}</span></h4>
     		
     	</div>

     	<div class="content" style="">
     		 <p style=" margin: 2%;font-size: 1.05rem;">
     			    ZunRoof, India's #1 home-tech company, is enabling home-owners and small businesses make money from sun. With a vision of solving all your electricity-related needs, our smart applications and best-in-class delivery are ensuring higher output per kW of solar.

                     50,000+ happy ZunRoof clients are all saying - “Get a ZunRoof. Now”
     		 </p>
             <p style="margin: 1rem auto;font-size: 1.05rem;">
                Please visit <a href="https://www.zunroof.com/blog/">www.zunroof.com/blog</a> for all your solar related questions.
            </p>
     	   </div>

    	
     </div>


     <div class="footer" style="width: 75%;margin-right: auto; margin-left: auto; background-image: url(http://zunroof.com/img/newImg/footer_image.jpg); background-position: center center; background-repeat: no-repeat;  background-size: 100% 100%;">
    	   
     	   <div>

     	   		<div class="" style="" >
 			      	  <h5 style="margin-top: 1rem auto;text-align:center; ">GET OUR APPS</h5>
 			        </div>

 			       <div class=" appStore" style="display: flex;justify-content: center; margin: 0.5rem;">
 			             <div style="margin: 0 auto;">
 						    		
 						    			<a class="btnLink" href="https://play.google.com/store?hl=en" ><img class="buttonImage" style="width: 8rem;height: auto;border: 1px solid white; border-radius: 6px" src="https://www.saveonfoods.com/wp-content/uploads/2015/10/app-store-android-download.png"></a>
 						    		
 						    			<a class="btnLink" href="https://itunes.apple.com/us/app/apple-store/id375380948?mt=8" ><img class="buttonImage" style="width: 8rem;height: auto;border: 1px solid white; border-radius: 6px" src="http://blog.creativelive.com/wp-content/uploads/2016/10/app-store.png"></a>
						    		
						  </div>  		
				    </div>

 				    <div class="d-flex justify-content-center" style="display: flex; justify-content: center; margin-top: 1rem;">
 			      	  <h5 style="text-align: center; margin: 0 auto;">FOLLOW US ON</h5>
 			        </div>

 				    <div class=" d-flex justify-content-center " style="display: flex;justify-content: center;">
 				    	      <div style="margin: 1rem auto;">
                                <a class=" links" style="text-align: center; margin-top: 0.5rem;" href="https://www.facebook.com/zunroof"><img class="footerIcon" style="width: 30px;height: 30px; margin-left: 0.5rem;" src="http://icons.iconarchive.com/icons/martz90/circle/512/fb-icon.png"></a>
 						    		<a class="links" style="text-align: center; margin-top: 0.5rem;" href="https://www.youtube.com/channel/UC3eV9qJmNiH8hOjtrJJbHUw"><img class="footerIcon" style="width: 30px;height: 30px; margin-left: 0.5rem;" src="http://www.stickpng.com/assets/images/58e9197deb97430e819064f8.png"></a>
 						    		<a class="links" style="text-align: center; margin-top: 0.5rem;" href="https://www.twitter.com/zunroof"><img class="footerIcon" style="width: 30px;height: 30px; margin-left: 0.5rem;" src="http://www.stickpng.com/assets/images/58e9196deb97430e819064f6.png"></a>
 						    		<a class="links" style="text-align: center; margin-top: 0.5rem;" href="https://www.linkedin.com/company/7947757/"><img class="footerIcon" style="width: 30px;height: 30px; margin-left: 0.5rem;" src="https://www.shareicon.net/data/512x512/2015/08/04/79851_color_512x512.png"></a>
 						    		<a class="links" style="text-align: center; margin-top: 0.5rem; margin-bottom: 2rem;" href="https://plus.google.com/110929554712414479348"><img class="footerIcon" style="width: 30px;height: 30px; margin-left: 0.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Google-plus-circle-icon-png.png"></a>
 				              </div>
				    </div>

    	   	
     	   </div>
     </div>

 </body>
 </html>