<!DOCTYPE html>
<html>
<head>
	<title>Congratulation</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="congratulation.css">
</head>
<body>

	 <div class="header">
	  	
			<nav class="navbar navbar-expand-lg navbar-light ">
				  <a class="navbar-brand" href="index.html">
				  	<img id="logo" src="Images/logo.png">
				  </a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class=""><i class="fa fa-home" aria-hidden="true"></i></span>
				  </button>

				  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="sCalculator.html">Solar Calculator </a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="https://play.google.com/store?hl=en">Download App</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="testimonial.html">Testimonials</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="goSolar.html">Go Solar</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="https://www.zunroof.com/blog/">Blog</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;">+91-920-569-5690</a>
				      </li>
				    </ul>
				   
				  </div>
				</nav>
	</div>

  <div class="container">
	<div class="home">
		<div class="d-flex justify-content-center">
			<img class="logo" style="width: 15rem; height: 15rem; margin: 5%;" src="Images/congratulation.png">
		</div>
		

		<p class="text-center" style="color: green;font-size: 3rem;"><b> Congratulations !</b></p>
		<p class="text-center" style="font-size: 1.5rem;" >Our solar expert will call you for furthur information.</p>
	</div>
</div>


  <!-- Footer -->

		<div class="footer">
		<div class="container">
			<div class="row contact">
			    <div class="col-md-6">
			    	<div class="row d-flex justify-content-between" style="margin: 0 auto;">
			    	<div class="col-xs-6 ">
			    		<h5 class="text-white "> FOLLOW US </h5>
			    		<hr style="background-color: white;  width: 60%; margin: 0px;"><br>
			    		
			    		<a class="text-white text-center" href="https://www.facebook.com/zunroof"><img class="footerIcon" src="Images/facebook.png"> Facebook</a><br>
			    		<a class="text-white text-center" href="https://www.youtube.com/channel/UC3eV9qJmNiH8hOjtrJJbHUw"><img class="footerIcon" src="Images/youtube.png"> Youtube</a><br>
			    		<a class="text-white text-center" href="https://www.twitter.com/zunroof"><img class="footerIcon" src="Images/twitter.png"> Twitter</a><br>
			    		<a class="text-white text-center" href="https://www.linkedin.com/company/7947757/"><img class="footerIcon" src="Images/linkedIn.png"> LinkedIn</a><br>
			    		<a class="text-white text-center" href="https://plus.google.com/110929554712414479348"><img class="footerIcon" src="Images/gplus.png"> Google+</a><br>
			    	</div>
			    	<div class="col-xs-6">
			    		<h5 class="text-white">COMPANY</h5>
			    		<hr style="background-color: white;  width: 60%; margin: 0px;"><br>
			    		<a href="" class="text-white"><img class="footerIcon1" src="Images/arrow.png">About</a><br>
			    		<a href="" class="text-white"><img class="footerIcon1" src="Images/arrow.png">Team</a><br>
			    		<a href="" class="text-white"><img class="footerIcon1" src="Images/arrow.png">Career</a><br>
			    		<a href="testimonial.html" class="text-white"><img class="footerIcon1" src="Images/arrow.png">Testimonial</a><br>
			    		<a href="sCalculator.html" class="text-white"><img class="footerIcon1" src="Images/arrow.png">Solar Calculator</a><br>
			    		<a href="" class="text-white"><img class="footerIcon1" src="Images/arrow.png">Download App</a><br>
			    	</div>
			     </div>
			    </div>
			    <div class="col-md-6 ">
			    	<div class="row appStore">
			    		<div class="col-lg-6 my-1">
			    			<a class="btnLink" href="" ><img class="buttonImage" src="Images/play.png"></a>
			    		</div>
			    		<div class="col-lg-6 my-1">
			    			<a class="btnLink" href="" ><img class="buttonImage" src="Images/ios.png"></a>
			    		</div>
			    	</div>

			    	<div class="row ">
			    		<a href="https://www.startupindia.gov.in/" style="margin: 0 auto;" ><img class="mnre" src="Images/start.png"></a>
			    	</div>
			    	
			    </div>
		     </div>

        <div class="d-flex justify-content-between my-2 py-2">
        	
        	<div class="">
        		<h5 class="text-white">CONTACT US</h5>
        		<hr style="background-color: white;  width: 50%; margin: 0px;"><br>
        		<p class="text-white">#581, DLF PHASE 5 <br> SECTOR 43,GURGAON <br> HARYANA 122009,INDIA <br>
        		TEL: +91-920-569-5690 <br> EMAIL: GOSOLAR@ZUNROOF.COM</p>
        	</div>

        	<div class="">
        		<h5 class="text-white text-right" ><a class="text-white text-right" href="http://hareda.gov.in/">Hareda</a></h5>
        		<h5 class="text-white text-right" ><a class="text-white text-right" href="http://seci.gov.in/content/">SECI</a></h5>
        		<!-- <h5 class="text-white text-right" >MNRE Approved</h5> -->
        		<h5 class="text-white text-right"><a class="text-white text-right" href="https://mnre.gov.in/"> MNRE Approved</a></h5>
        	</div>
          </div>

		</div>
	<div>
    
   <div class="copyright" style="background-color: #232323">
    	<div class="text-center text-white pt-1">By using this website, you agree to our terms of use & privacy policy.</div>
    	<div class="text-center text-white pb-2">COPYRIGHT © 2018 ZUNROOF TECH PVT LTD</div>
    	
    </div>


</body>
</html>