<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h5 style="">Customer Details for Customer Help</h5>
	<ul>
		<li>Fullname : {{fullname}}</li>
		<li>Address : {{addr}}</li>
		<li>Contact NO. : {{phone}}</li>
		<li>Quote Id : {{quote_id}}</li>
		<li>Comment : {{comment}}</li>
	</ul>

</body>
</html>