<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Zunroof</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700" rel="stylesheet">
	<link href="rvslider.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.1/rangeslider.css'>
     <link rel="stylesheet" href="slider.css">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script type="text/javascript" src="index.js"></script>
	<script src="rvslider.min.js"></script>
<body> 
    
	  <div class="header" style="font-family:'Alegreya Sans SC', sans-serif;">
	  	
			<nav class="navbar navbar-expand-lg navbar-light ">
				  <a class="navbar-brand" href="index.html">
				  	<img id="logo" src="Images/logo.png">
				  </a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="" "><i class="fa fa-home" aria-hidden="true"></i></span>
				  </button>

				  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="sCalculator.html" >Solar Calculator </a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="https://play.google.com/store/apps/details?id=com.zunroofprod.zunroofprod" target="_blank">Download App</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="testimonial.html" >Testimonials</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="goSolar.html" >Go Solar</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="https://www.zunroof.com/blog/" target="_blank">Blog</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;">+91-920-569-5690</a>
				      </li>
				    </ul>
				   
				  </div>
				</nav>

<!-- 
				<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="index.html">
		<img id="logo" src="Images/logo.png">
	  </a>
	

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		 <span class="" "><i class="fa fa-home" aria-hidden="true"></i></span>
	</button>
	

	   <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarCollapse">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="sCalculator.html" target="_blank">Solar Calculator </a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="https://play.google.com/store/apps/details?id=com.zunroofprod.zunroofprod" target="_blank">Download App</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="testimonial.html" target="_blank">Testimonials</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="goSolar.html" target="_blank">Go Solar</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;" href="https://www.zunroof.com/blog/" target="_blank">Blog</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link " style="color: green;">+91-920-569-5690</a>
				      </li>
				    </ul>
				   
				  </div>
    </nav> -->
	</div>
	
	<div class="home">
		<div class="container">
 	     <div class="row content">
 		    <div class="col-md-6" style="margin:auto;">
 		    	<div id="window" style="margin:auto; width: 80%; height: 50%;" >
 		    		<h4 style="text-align: center;">GO SOLAR WITH DELHI NCR'S <br> LARGEST SOLAR COMPANY </h4>
 		    	</div>
 		    </div>
 		    <div class="col-md-6" id="formBg" style="margin:0 auto; ">
 		    	<div>
 		    		 
                     <div id="popUp" style=" margin: 0px auto;">

                     	 <form action="/" method="post">
                     	 	<div class="form-group frm " id="title" style="padding: 0.1rem;">
	                     	 	<h4 class="text-white" style="text-align: center; font-size: 13px;"><b>ENTER YOUR MONTHLY ELECTRICITY BILL</b></h4>
									<p class="tempText col-xs-12 text-center">
										<span class="" id="tempText1">YOUR BILL IS VERY HIGH GET SOLAR</span>

										<div class="row rangeMinMax form-group">
															<div class="col-xs-6 d-flex justify-content">
																	<p id="rangeMinMax1"></p>
															</div>
															<div class="col-xs-6 d-flex justify-content-end">
																	<p class="" id="rangeMinMax2"></p>
															</div>
													</div>
													<div class="col-sm-12" style="position:relative">
															<div class="wrapper">
																	<input type="range"  id="mnthbill" min="2500" max="100000" step="100" name="mnthbill" value="5000" unit="&#x20B9;"/>
															</div>
													</div>
								        </p>
                            </div>
				            
												    <!-- <div class="row rangeMinMax">
															<div class="col-xs-6 text-left">
																	<p id="rangeMinMax1">2,500</p>
															</div>
															<div class="col-xs-6 text-right">
																	<p id="rangeMinMax2">1,00,000</p>
															</div>
													</div>
													<div class="col-sm-12" style="position:relative">
															<div class="wrapper">
																	<input type="range"  id="mnthbill" min="2500" max="100000" step="100" name="mnthbill" value="5000" unit="&#x20B9;"/>
															</div>
							  					</div> -->
                             <div class="frm1">
							  <div class="form-group frm ">
							  	<div class="input-group-prepend">
							  		<span class="input-group-text"><i class="fa fa-fw fa-user" aria-hidden="true"></i>
							  		</span>
							  		<input class="form-control" type="text" name="fullname" placeholder="Full Name" required>
							  		
                                </div>
							 </div>
				             
				            <div class="form-group frm ">
				            	<div class="input-group-prepend">
				            	<span class="input-group-text"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></span>	
				                <input class="form-control" type="email" name="email" placeholder="Email" required>
				            </div>
				            </div>

				           <div class="form-group form-row frm  ">
							    <div class="col-md-6 col-sm-12 form-group frm  ">
							    <div class="input-group-prepend">
				            	<span class="input-group-text "><i class="fa fa-fw fa-mobile" aria-hidden="true"></i></span>
							      <input type="text" class="form-control " name="phone" placeholder="Mobile" pattern="[0-9]{10}" title="Ten digit phone number" required>
							    </div>
                                </div>

							    <div class="col-md-6 col-sm-12 frm " style="margin: 0; padding-top: 0">
                                 <div class="input-group-prepend">
				            	<span class="input-group-text"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i></span>
							      <input type="text" class="form-control controls" name="pincode" id="pincode" placeholder="6 Digit Pincode"  pattern="[0-9]{6}" title="Six digit zip code" onkeyup="findZipcode()" required>
							    </div>
							   </div>

							   
							  </div>
							  <div class="form-group  frm " id="pin" style="">
							     <div class="form-group" id="selectArea"> 
							     	
							     	<select id="areaLocation" class="custom-select form-control" name="location" style="height: 38px; ">
							      	   <option id="listValue"></option>
							      	</select>
							      </div>
							      
                                 </div>

                                   <style>
									#selectArea,#areaLocation
									{
									position:relative;
									top:100%;
									right:0px;
									margin-top: -0.5rem;
									background-color:white;
									color:black;
									width:100%;
									z-index:1;
									font-family:Carrois Gothic;
									}
									#selectArea
									{
										border-radius: 5px;
									}
									#pin{
										display: none;
									}
									@media(max-width: 767px){
										#selectArea{
											margin-top: 1rem;
										}
									}
									
								</style>

				            <div class="form-group frm " >
				            	<button class="btn btn-lg btn-block" type="submit">GO SOLAR</button>
                                
				            </div>
				            <div class="form-group  frm mb-2 ">
				            	<p class="text-white" style="font-size: 0.50rem; margin:0 auto; text-align: center;">*REQUIRED FIELDS. BY CLICKING 'GO SOLAR' I AGREE THAT ZUNROOF CAN CONTACT ME VIA PHONE/EMAIL AND/OR PRERECORDED MESSAGES USING THE NUMBER AND EMAIL PROVIDED.</p>

				            </div>
				            </div>
				         </form>
                     <div>

 		    	</div>  
 		    </div>
 				
 			</div>
 		 </div>
       </div>
   </div>




        <!-- <div class="row">
        	<div class="container">
		          <div id="carouselContent" class="carousel slide" data-ride="carousel">
		            <div class="carousel-inner" role="listbox">

		              <div class="carousel-item active text-center p-4">
		                 <p class="text-white text-center slideText" ><b>Download our app to know more.</b></p>
		              </div>
		              <div class="carousel-item text-center p-4">
		                
		                <p class="text-white text-center slideText" ><b>ZunRoof, leading the way to a better future.</b></p>
		              </div>
		              <div class="carousel-item text-center p-4">
		                
		                <p class="text-white text-center slideText" ><b>Already deployed more than 250 projects.</b></p>
		              </div>
		              <div class="carousel-item text-center p-4">
		                
		                <p class="text-white text-center slideText" ><b>Make a smart choice, save 90% on power bills.</b></p>
		              </div>
		           </div>
		        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
		            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		            <span class="sr-only">Previous</span>
		        </a>
		        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
		            <span class="carousel-control-next-icon" aria-hidden="true"></span>
		            <span class="sr-only">Next</span>
		        </a>
		     </div>
            </div>
        </div> -->


 	   
 	</div>

		
	</div>


	<!-- <div class="container box">
        <div class="row">
        	<h2 id="heading" style="margin: 1rem auto; color: green;"> WHY GO SOLAR?</h2>
        </div>
		

		<div class="row my-0 py-0">
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/energy.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">CONTROL ENERGY COST</h6>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center "> Secure predictable electricity cost for years to come. </p>
				    
				  </div>
				</div>
			</div>
		
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/coins.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">SAVE MONEY</h6><br>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center"> Solar costs less energy than fossil sources.<br><br></p>
				    
				  </div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/fruits.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">HELP THE ENVIRONMENT</h6>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center"> Only clean energy source with zero emission.<br><br> </p>
				    
				  </div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6" >
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/plug.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">ENERGY INDEPENDENCE</h6>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center"> Unlimited,reliable source of energy. <br><br></p>
				    
				  </div>
				</div>
			</div>
		</div>
    </div> -->


    <div class="row">
        	<div class="container">
		          <div id="carouselContent" class="carousel slide" data-ride="carousel">
		            <div class="carousel-inner" role="listbox">

		              <div class="carousel-item active text-center p-4">
		                 <p class=" text-center slideText" >Get 50% off this IPL season by calling 920-569-5690</p>
		              </div>
		               <div class="carousel-item text-center p-4">
		                
		                <p class="text-center slideText" >Get 70% off by using promotion code "SOLAR70" in assessment</p>
		              </div>
<!-- 		              <div class="carousel-item text-center p-4">
		                
		                <p class=" text-center slideText" ><b>Mr Manish Palta, Capacity - 8kW, Noida.</b></p>
		              </div>
		              <div class="carousel-item text-center p-4">
		                
		                <p class="text-center slideText" ><b>Mr. F A Khan, Capacity - 10kW, Faridabad.</b></p>
		              </div>
		              <div class="carousel-item text-center p-4">
		                
		                <p class=" text-center slideText" ><b>Jet Airways, Capacity - 15kW, Gurgaon.</b></p>
		              </div>
		              <div class="carousel-item text-center p-4">
		                
		                <p class=" text-center slideText" ><b>Mr. Rakesh Gupta, Capacity - 8kW, Gurgaon.</b></p>
		              </div>
		              <div class="carousel-item text-center p-4">
		                
		                <p class=" text-center slideText" ><b>Mr. Gurwinder Singh, Capacity - 10kW, Gurgaon.</b></p>
		              </div>
                       <div class="carousel-item text-center p-4">
		                
		                <p class=" text-center slideText" ><b>Dhruv Kalra, Capacity - 12kW, Delhi.</b></p>
		              </div> -->
		           </div>
		        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
		            <span style="display: none;"  class="carousel-control-prev-icon" aria-hidden="true"></span>
		            <span class="sr-only">Previous</span>
		        </a>
		        <a  class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
		            <span style="display: none;" class="carousel-control-next-icon" aria-hidden="true"></span>
		            <span class="sr-only">Next</span>
		        </a>
		     </div>
            </div>
        </div> 

    <div class="container box">
        <div class="row">
        	<h2 id="heading" style="margin: 0.3rem auto; color: green;"> WHY GO SOLAR ?</h2>
        </div>
		

		<div class="row my-0 py-0">
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/energy.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">RELIABLE ENERGY</h6><br>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center "> 25 year output warranty, low maintenance system <br><br><br><br> </p>
				    
				    
				  </div>
				</div>
			</div>
		
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/coins.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">MAKE MONEY FROM SUN</h6>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center"> Transform high electricity bill into a money-making opportunity<br><br><br></p>
				    
				  </div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/fruits.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">CLEAN ENERGY</h6><br>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center"> A huge step towards ensuring clean breathing air for your daughters and sons. 1kW ~ planting 154 Trees, saving 20 Tons CO2</p>
				    
				  </div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6" >
				<div class="card" style="width:16rem;" >
				  <img class="card-img-top cardImg1" src="Images/plug.png" alt="Card image cap">
				  <div class="card-body cb1">
				    <h6 class="card-title text-center">QUICK PAYBACK PERIOD</h6>
				    <hr style="width: 60%; background-color: #f0f0f0;">
				    <p class="card-text cardInfo text-center"> Get your investment back in 3-4 years and free electricity thereafter <br><br><br></p>
				    
				  </div>
				</div>
			</div>
		</div>
    </div>
 
     <!-- <div class="container frame" style="margin-top: 0.5rem">
     	<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zSmRHzdyo6c" allowfullscreen></iframe>
		</div>
     </div> -->
    <div class="container mt-2">

     <div class="rvs-container rvs-horizontal rvs-green-highlight rvs-youtube-play">

	<div class="rvs-item-container">
		<div class="rvs-item-stage">

			<div class="rvs-item" style="background-image: url(https://i0.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/10/thumbnail-howdoesitwork.png?zoom=1.25&resize=750%2C410&ssl=1)">
				<h1 class="rvs-item-text" style="color:green;">How does it work? Solar energy from a rooftop system.<small></small></h1>
				<a href="https://www.youtube.com/embed/5pycV24N2PM&t=14s" class="rvs-play-video"></a>
			</div>
			<div class="rvs-item" style="background-image: url(https://i.ytimg.com/vi/-piXDEm7Sgw/hqdefault.jpg)">
				<h3 class="rvs-item-text" style="color:green;"> <b>How to Read Electricity Bill in Delhi/NCR (BSES)</b> <small></small></h3>
				<a href="https://www.youtube.com/embed/-piXDEm7Sgw" class="rvs-play-video"></a>
			</div>
			<div class="rvs-item" style="background-image: url(https://i2.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/12/BSES-Net-Meter-Image.jpg?resize=750%2C410&ssl=1)">
				<h4 class="rvs-item-text" style="color:green;"> <b>How to Read Solar Net Meter Electricity Bill in Delhi/NCR (BSES)</b> <small></small></h4>
				<a href="https://www.youtube.com/embed/59Toh7-EEw0&t=20s" class="rvs-play-video"></a>
			</div>
			<div class="rvs-item" style="background-image: url(https://i.ytimg.com/vi/Y-iYVYOTR3s/maxresdefault.jpg)">
				<h4 class="rvs-item-text" style="color:green;"> <b>Zunroof: Going solar is easy now.</b> <small></small></h4>
				<a href="https://www.youtube.com/embed/Y-iYVYOTR3s" class="rvs-play-video"></a>
			</div>
			<div class="rvs-item" style="background-image: url(https://i.ytimg.com/vi/VzBlNWPvCuI/maxresdefault.jpg)">
				<h4 class="rvs-item-text" style="color:green;"> <b>Zunroof</b> <small></small></h4>
				<a href="https://www.youtube.com/embed/VzBlNWPvCuI" class="rvs-play-video"></a>
			</div>
			
		</div>
	</div>
	<div class="rvs-nav-container">
		<a class="rvs-nav-prev"></a>
		<div class="rvs-nav-stage">
			<a class="rvs-nav-item">

				<span class="rvs-nav-item-thumb" style="background-image: url(https://i0.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/10/thumbnail-howdoesitwork.png?zoom=1.25&resize=750%2C410&ssl=1)"></span>
				<h4 class="rvs-nav-item-title">How does it work? Solar energy from a rooftop system. &amp;</h4>
				<small class="rvs-nav-item-credits"></small>
				
			</a>
			<a class="rvs-nav-item">
				<span class="rvs-nav-item-thumb" style="background-image: url(https://i.ytimg.com/vi/-piXDEm7Sgw/hqdefault.jpg)"></span>
				<h4 class="rvs-nav-item-title"  >How to Read Solar Net Meter Electricity Bill in Delhi/NCR (BSES) &amp;</h4>
				<small class="rvs-nav-item-credits"></small>
			</a>
			<a class="rvs-nav-item">
				<span class="rvs-nav-item-thumb" style="background-image: url(https://i2.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/12/BSES-Net-Meter-Image.jpg?resize=750%2C410&ssl=1)"></span>
				<h4 class="rvs-nav-item-title" ;>How to Read Electricity Bill in Delhi/NCR (BSES) &amp;</h4>
				<small class="rvs-nav-item-credits"></small>
			</a>
			<a class="rvs-nav-item">
				<span class="rvs-nav-item-thumb" style="background-image: url(https://i.ytimg.com/vi/Y-iYVYOTR3s/maxresdefault.jpg)"></span>
				<h4 class="rvs-nav-item-title" ;">Zunroof: Going solar is easy now. &amp;</h4>
				<small class="rvs-nav-item-credits"></small>
			</a>
			<a class="rvs-nav-item">
				<span class="rvs-nav-item-thumb" style="background-image: url(https://i.ytimg.com/vi/VzBlNWPvCuI/maxresdefault.jpg)"></span>
				<h4 class="rvs-nav-item-title" ;">Zunroof &amp;</h4>
				<small class="rvs-nav-item-credits"></small>
			</a>
			
		</div>
		<a class="rvs-nav-next"></a>
	</div>
</div>
</div>


     <!--  <div class="container">
    	    
            <div class="rvs-container my-4">
               <div class="rvs-item-container " style="padding: 0; margin-bottom: 2rem;">
                 <div class="rvs-item-stage">
             
              
             
              <div class="rvs-item" style="background-image: url(https://i.ytimg.com/vi/-piXDEm7Sgw/hqdefault.jpg)">
                <h3 class="rvs-item-text" style="color:#FF0000;"> <b>How to Read Electricity Bill in Delhi/NCR (BSES)</b> <small></small></h3>
                <a href="https://www.youtube.com/embed/-piXDEm7Sgw" class="rvs-play-video"></a>
              </div>
               <div class="rvs-item" style="background-image: url(https://i2.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/12/BSES-Net-Meter-Image.jpg?resize=750%2C410&ssl=1)">
                <h4 class="rvs-item-text" style="color:#FF0000;"> <b>How to Read Solar Net Meter Electricity Bill in Delhi/NCR (BSES)</b> <small></small></h4>
                <a href="https://www.youtube.com/embed/59Toh7-EEw0&t=20s" class="rvs-play-video"></a>
              </div>
               <div class="rvs-item" style="background-image: url(https://i0.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/10/thumbnail-howdoesitwork.png?zoom=1.25&resize=750%2C410&ssl=1)">
                <p class="rvs-item-text" style="color:#FF0000;">How does it work? Solar energy from a rooftop system.<small></small></p>
                <a href="https://www.youtube.com/embed/5pycV24N2PM&t=14s" class="rvs-play-video"></a>
              </div>
            </div>
          </div>
          <div class="rvs-nav-container">
            <a class="rvs-nav-prev"></a>
            <div class="rvs-nav-stage">
              <a class="rvs-nav-item" id="vidOne" onclick="showHide(1);">
                <span class="rvs-nav-item-thumb " style="background-image: url(https://i.ytimg.com/vi/-piXDEm7Sgw/hqdefault.jpg)" ></span>
                <h4 class="rvs-nav-item-title" ;">How to Read Electricity Bill in Delhi/NCR (BSES) &amp;</h4>
                <small class="rvs-nav-item-credits"></small>
              </a>
              <a class="rvs-nav-item" id="vidTwo" onclick="showHide(2);">
                <span class="rvs-nav-item-thumb" style="background-image: url(https://i2.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/12/BSES-Net-Meter-Image.jpg?resize=750%2C410&ssl=1)"></span>
                <h4 class="rvs-nav-item-title"  >How to Read Solar Net Meter Electricity Bill in Delhi/NCR (BSES) &amp;</h4>
                <small class="rvs-nav-item-credits"></small>
              </a>
              <a class="rvs-nav-item" id="vidThree" onclick="showHide(3);">
                <span class="rvs-nav-item-thumb" style="background-image: url(https://i0.wp.com/www.zunroof.com/blog/wp-content/uploads/2017/10/thumbnail-howdoesitwork.png?zoom=1.25&resize=750%2C410&ssl=1)"></span>
                <h4 class="rvs-nav-item-title">How does it work? Solar energy from a rooftop system. &amp;</h4>
                <small class="rvs-nav-item-credits"></small>
              </a>
              
             
              
            </div>
            <a class="rvs-nav-next"></a>
          </div>
        </div>
       </div>
 -->
	<div>
		<div class="row">
        	<h2 style="margin: 1rem auto; color: green;"> WHY US?</h2>
        </div>

       <!--  <div class="footerBgImage my-0">
        	<div class="container ">
        		<div class="row footerCard">

        			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/leader1.jpg" alt="Card image cap">
						  <div class="card-body">
						    <h6 class="card-title text-center">Market Leader In North India.</h6>
						    <br>
						    
						    
						  </div>
						</div>
			       </div>

			       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/tech1.jpg" alt="Card image cap">
						  <div class="card-body ">
						    <h6 class="card-title text-center">Advanced Technology Tools</h6>
						    <br>
						    
						    
						  </div>
						</div>
			       </div>

			       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/team.jpg" alt="Card image cap">
						  <div class="card-body ">
						    <h6 class="card-title text-center">Dedicated post sales team</h6>
						    
						    <br>
						  </div>
						</div>
			       </div>

			       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/design1.jpg" alt="Card image cap">
						  <div class="card-body ">
						    <h6 class="card-title text-center">We offer elegant designs </h6>
						    	<br>
						  </div>
						</div>
			       </div>



        			
        		</div>
        	</div>
        	
        </div> -->

        <div class="footerBgImage my-0">
        	<div class="container ">
        		<div class="row footerCard">

        			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/leader1.jpg" alt="Card image cap">
						  <div class="card-body">
						    <h6 class="card-title text-center">Market Leader In North India.</h6>
						    
						    <hr style="width: 60%; background-color: #f0f0f0;">
						    <p class="card-text cardInfo text-center">Largest solar rooftop company in Delhi NCR for homes, and small businesses. </p>
						    <br>
						  </div>
						</div>
			       </div>

			       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/tech1.jpg" alt="Card image cap">
						  <div class="card-body ">
						    <h6 class="card-title text-center">Advanced Technology Tools</h6>
						    <hr style="width: 60%; background-color: #f0f0f0;">
						    <p class="card-text cardInfo text-center pb-3">Based on power consumption requirements of the home, we promise to deliver best possible solution. <br></p>
						    
						  </div>
						</div>
			       </div>

			       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/team.jpg" alt="Card image cap">
						  <div class="card-body ">
						    <h6 class="card-title text-center">Dedicated post sales team</h6>
						    <hr style="width: 60%; background-color: #f0f0f0;">
						    <p class="card-text cardInfo text-center">Relax and sit back. 5 years free maintenance on Residential Systems</p>
						    <br>
						  </div>
						</div>
			       </div>

			       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="card" style="width:16rem;" >
						  <img class="card-img-top" src="Images/design1.jpg" alt="Card image cap">
						  <div class="card-body ">
						    <h6 class="card-title text-center">We offer elegant designs </h6>
						    <hr style="width: 60%; background-color: #f0f0f0;">
						    <p class="card-text cardInfo text-center">Get complete analysis of power usage to control your electricity bills </p>
						    <br>
						  </div>
						</div>
			       </div>



        			
        		</div>
        	</div>
        	
        </div>


		
	</div>

	<!-- Footer -->

	<div class="footer">
		<div class="container">
			<div class="row contact">
			    <div class="col-md-6">
			    	<div class="row d-flex justify-content-between" style="margin: 0 auto;">
			    	<div class="col-xs-6 ">
			    		<h5 class="text-white linkHead"> FOLLOW US </h5>
			    		<hr style="background-color: white;  width: 95%; margin: 0px;"><br>
			    		
			    		<a class="text-white text-center mt-2 links" target="_blank" href="https://www.facebook.com/zunroof"><img class="footerIcon" src="Images/facebook.png"> Facebook</a><br>
			    		<a class="text-white text-center mt-2 links" target="_blank" href="https://www.youtube.com/channel/UC3eV9qJmNiH8hOjtrJJbHUw"><img class="footerIcon" src="Images/youtube.png"> Youtube</a><br>
			    		<a class="text-white text-center mt-2 links" target="_blank" href="https://www.twitter.com/zunroof"><img class="footerIcon" src="Images/twitter.png"> Twitter</a><br>
			    		<a class="text-white text-center mt-2 links" target="_blank" href="https://www.linkedin.com/company/7947757/"><img class="footerIcon" src="Images/linkedIn.png"> LinkedIn</a><br>
			    		<!-- <a class="text-white text-center mt-2 links" target="_blank" href="https://plus.google.com/116431639008740403588"><img class="footerIcon" src="Images/gplus.png"> Google+</a><br> -->
			    	</div>
			    	<div class="col-xs-6">
			    		<h5 class="text-white linkHead">COMPANY</h5>
			    		<hr style="background-color: white;  width: 80%; margin: 0px;"><br>
			    		<!-- <a href="" class="text-white links" target="_blank"><img class="footerIcon1" src="Images/arrow.png">About</a><br> -->
			    		<a href="team.html" class="text-white links" ><img class="footerIcon1" src="Images/arrow.png">Team</a><br>
			    		<!-- <a href="career.html" class="text-white links" ><img class="footerIcon1" src="Images/arrow.png">Career</a><br> -->
			    		<a href="testimonial.html" class="text-white links" ><img class="footerIcon1" src="Images/arrow.png">Testimonial</a><br>
			    		<a href="sCalculator.html" class="text-white links" ><img class="footerIcon1" src="Images/arrow.png">Solar Calculator</a><br>
			    		<a href="https://play.google.com/store/apps/details?id=com.zunroofprod.zunroofprod" class="text-white links" target="_blank"><img class="footerIcon1" src="Images/arrow.png">Download App</a><br>
			    		<a href="help.html" class="text-white links" target="_blank"><img class="footerIcon1" src="Images/arrow.png">Customer Help</a><br>
			    		<a href="installerPlatform.html" class="text-white links" ><img class="footerIcon1" src="Images/arrow.png">For Partners</a><br>
			    	    <a href="goSolar.html#faq" class="text-white links" ><img class="footerIcon1" src="Images/arrow.png">FAQs</a><br>
                        <a href="privacyPolicy.html" class="text-white links"><img class="footerIcon1" src="Images/arrow.png">Privacy Policy</a><br>
			    	</div>
			     </div>
			    </div>
			    <div class="col-md-6">
			    	

			    	<div class="row d-flex justify-content-between" style="margin: 0 auto;">
			    	<div class="col-xs-6 place ">
			    		
			    		
			    		
			    		<a class="text-white text-center mt-2 links" href="https://www.zunroof.com/blog/" target="_blank"> Solar in Delhi</a><br>
			    		<a class="text-white text-center mt-2 links" href="https://www.zunroof.com/blog/" target="_blank"> Solar in Gurgaon</a><br>
			    		<a class="text-white text-center mt-2 links" href="https://www.zunroof.com/blog/" target="_blank"> Solar in Faridabad</a><br>
			    		<a class="text-white text-center mt-2 links" href="https://www.zunroof.com/blog/" target="_blank"> Solar in Haryana</a><br>
			    		<a class="text-white text-center mt-2 links" href="https://www.zunroof.com/blog/" target="_blank"> Solar in Jaipur</a><br>
			    		<a class="text-white text-center mt-2 links" href="https://www.zunroof.com/blog/" target="_blank"> Solar in Meerut</a><br>
			    		<a class="text-white text-center mt-2 links" href="https://www.zunroof.com/blog/" target="_blank"> Solar in Uttarakhand</a><br>

			    	</div>
			    	<div class="col-xs-6 place">
			    		
			    		
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Uttar Pradesh</a><br>
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Delhi NCR</a><br>
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Chandigarh</a><br>
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Haridwar</a><br>
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Haldwani</a><br>
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Agra</a><br>
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Noida</a><br>
			    		<a href="https://www.zunroof.com/blog/" class="text-white links" target="_blank">Solar in Greater Noida</a><br>

			    		
			    	</div>
			     </div>

			    	
			    	
			    </div>
		     </div>
		     <hr style="background-color: gray">

        <div class="d-flex justify-content-between my-2 py-2">
        	
        	<div class="">
        		<h5 class="text-white linkHead">CONTACT US</h5>
        		<hr style="background-color: white;  width: 50%; margin: 0px;"><br>
        		<p class="text-white links">#581, DLF PHASE 5 <br> SECTOR 43,GURGAON <br> HARYANA 122009,INDIA <br>
        		TEL: +91-920-569-5690 <br> EMAIL: GOSOLAR@ZUNROOF.COM</p>
        	</div>

        	<div class="" style="margin-top: 3rem;">
        		<h5 class="text-white text-right links" ><a class="text-white text-right" href="http://hareda.gov.in/">Hareda</a></h5>
        		<h5 class="text-white text-right links" ><a class="text-white text-right" href="http://seci.gov.in/content/">SECI</a></h5>
        		<!-- <h5 class="text-white text-right" >MNRE Approved</h5> -->
        		<h5 class="text-white text-right links"><a class="text-white text-right" href="https://mnre.gov.in/"> MNRE Approved</a></h5>
        		<a href="https://www.startupindia.gov.in/" style="margin: 0 auto; float:right;" ><img class="mnre" src="Images/start.png"></a>
        	</div>
          </div>

          <hr style="background-color: gray">

		<div class="d-flex justify-content-center appStore">
			    		<div class="">
			    			<a class="btnLink" href="https://play.google.com/store/apps/details?id=com.zunroofprod.zunroofprod"><img class="buttonImage" src="Images/play.png"></a>
			    		</div>
			    		<div class=" ">
			    			<a class="btnLink" ><img class="buttonImage" src="Images/ios.png"></a>
			    		</div>
	    </div>
	    <hr style="background-color: gray">

		</div>
	
		
    
    <div class="copyright" style="background-color: #232323">
    	<div class="text-center text-white pt-1 links">By using this website, you agree to our <a style="color: white;" href="termsOfUse.html"> Terms of use</a> & <a style="color: white;" href="privacyPolicy.html">privacy policy.</a></div>
    	<div class="text-center text-white pb-2 links">COPYRIGHT © 2018 ZUNROOF TECH PVT LTD</div>
    	
    </div>
   <script>
    
    
    function findZipcode(){
    	var x = document.getElementById("pincode").value;
			    console.log(x);
			   if (x.length == 6){
			   	document.getElementById('pin').style.display ="block";
			  	// document.getElementById("selectArea").style.display="block";
			    document.getElementById("areaLocation").style.display="block";
			    var url = " http://postalpincode.in/api/pincode/" + x;
			      console.log(url);
			    var dropdown = document.getElementById('areaLocation');
				dropdown.length = 0;

			    var defaultOption = document.createElement('option');
			    defaultOption.text = 'Select Area';

				dropdown.add(defaultOption);
				dropdown.selectedIndex = 0;




			var request = new XMLHttpRequest();
			request.open('GET', url, true);
			// request.setRequestHeader("Access-Control-Allow-Origin: *", "application/json;charset=UTF-8");
			request.withCredentials = false;
			request.send();

			request.onreadystatechange = function() {
			 if (this.readyState == 4 && this.status == 200) {
			var data = JSON.parse(this.responseText);
			  console.log(data);
				 var option;
			 for (var i = 0; i < data.PostOffice.length; i++) {
				option = document.createElement('option');
				option.text = data.PostOffice[i].Name;
					console.log(option.text);											    
				dropdown.add(option);
					 }
				 } else {
			// Reached the server, but it returned an error
			console.log("error");
				}   
			}

			request.onerror = function() {
			console.error('An error occurred fetching the JSON from ' + url);
				};						  


		}
    }
      

    </script>
   
   <script>
   	function openNav(){
   		document.getElementById('navbarSupportedContent').style.width = "250px";
   	}
</script>


    <script>
  jQuery(function($){
    $('.rvs-container').rvslider();
  });
</script>




    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script  src='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.1/rangeslider.js'></script>
	<script src="slider.js"></script>
    }
</body>
</html>