<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h5 style="">Partner Details </h5>
	<ul>
		
        <li>Fullname : {{fullname}}</li>
		<li>Contact NO. : {{phone}}</li>
		<li>Company Name : {{company}}</li>
		<li>Team Size : {{size}}</li>
		<li>Years in Solar Business : {{years}}</li>
	</ul>

</body>
</html>