body{
	padding: 0;
	margin: 0;

}

 .home{
 	 background-image: url(Images/career.jpg);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    position:relative;
    /*background-attachment: fixed;*/
   

 width: 100vw;
height: 100vh; 
/*background-size: 100% 100%;*/
}
.info{
	background-color: #67baac;
	color: white;
}

.info h2{
	margin: 25px auto;

}
#logo{
    width: 100px;
    height: auto;
    margin-left: 0.2rem;
}
.nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}

/*Div Table*/
/*/*.pos{
	margin-left: 8%;
	margin-right: 8%;
}
.position{
	display: flex;
    justify-content: flex-start;
}
.titleHead{
	flex: 2;
	background-color: black;
	color: white;
	margin: 1px;
    padding: 0.5rem;
}
.teamHead,.typeHead,.locationHead,.viewHead{
	flex: 1;
	background-color: black;
	color: white;
	margin: 1px;
	padding: 0.5rem;
}
.title{
	flex: 2;
	/*background-color: black;
	color: white;*/
	
/*}
.team,.type,.location,.view{
	flex: 1;
	
	margin: 1px;
	padding: 0.5rem;
}
.titleGray{
	flex: 2;
	background-color: #DCDCDC;
	
	margin: 1px;
    padding: 0.5rem;
}
.teamGray,.typeGray,.locationGray,.viewGray{
	flex: 1;
	background-color: #DCDCDC;}
	
	


/*table*/

element.style {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.7rem;
}
table.alt {
    border-collapse: separate;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 2px;
    border-collapse: collapse;
}
table {
    margin: 0 0 2rem 0;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 2px;
}
.titleHead{

	background-color: black;
	color: white;
	margin: 1px;
    padding: 0.5rem;
}
.titleGray{
	background-color: #DCDCDC;
	margin: 1px;
    padding: 0.5rem;
}
.titleWhite{
	
	margin: 1px;
    padding: 0.5rem;
}
.btn{
	background-color: #434343;
	 color: white
}
.a: hover{
	color: white;
}

/*Footer*/
.buttonImage{
    width: 10rem;
    height: /auto;
    border: 1px solid white;
    border-radius: 8px;
}
.footerIcon{
    width: 25px;
    height: 25px;
    filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;

}
.footerIcon1{
    width: 13px;
    height: auto;
     
}
.place{
    margin-top: 3.6rem;
}
.footerIcon:hover{
 filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);

}
    .footer{
    /*background-color: #545454;*/
    background-color: rgba(0,0,0,0.9);
    /*background-color: #656565;*/
    /*background-color: #111111;*/
    /*background-color: #222222;*/

}
.contact{
    padding-top: 2rem;
    margin-top: 2rem;
}
.appStore{
    margin: 0.5rem ;
}
.btnLink{
    margin: 0.5rem ;
}

.mnre{
    width: 10rem;
    height: auto;
    
    margin-left: 3px;
}


@media (max-width: 767px){
    .links{
    font-size: 11px;
}
.linkHead{
    font-size: 15px;
}
.mnre{
    width: 7rem;
    height: auto;
}
.place{
    margin-top: 1.2rem;
}
}