body{
	padding: 0;
	margin: 0;
	
}

.body1{
	background-color: #fff;
}
#logo{
	width: 100px;
	height: auto;
	margin-left: 0.2rem;
}
.nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}


/*.home{
	border: 3px solid gray;
	padding-bottom: 5%;
}
.details{
	font-size: 1.3rem;
}*/
#certified{
	width: 15rem;
	height: auto;
}
.img2{
	width: 7rem;
	height: auto;
	margin: 3rem;
}
.card{
	border: none;
}
.pref{
	width: 70%;
}
.banner{
  background-image: url("Images/badge.png") no-repeat right top;
  margin-right: 200px;
}
/*footer*/

/*Footer*/
.buttonImage{
	width: 9rem;
	height: /auto;
	border: 1px solid white;
	border-radius: 8px;
}
.footerIcon{
	width: 25px;
	height: 25px;
	filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;

}
.footerIcon1{
	width: 13px;
	height: auto;
	 
}
.place{
	margin-top: 3.6rem;
}
.footerIcon:hover{
 filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);

}
	.footer{
	/*background-color: #545454;*/
	background-color: rgba(0,0,0,0.9);
	/*background-color: #656565;*/
	/*background-color: #111111;*/
	/*background-color: #222222;*/

}
.contact{
	padding-top: 2rem;
	margin-top: 2rem;
}
.appStore{
	margin: 0.5rem ;
}
.btnLink{
	margin: 0.5rem ;
}
.btnLink1{
	margin: 0.5rem;
}

.mnre{
	width: 10rem;
	height: auto;
	
	margin-left: 3px;
}

@media (max-width: 767px){

	.links{
	font-size: 11px;
}
.linkHead{
	font-size: 15px;
}
.mnre{
	width: 7rem;
	height: auto;
}
.place{
	margin-top: 1.2rem;
}
.card-title{
	font-size: 1.3rem;
}
.details{
	font-size: 1rem;
}
.btnlink1{
   margin: 0.3rem;
}
.img2{
	width: 3rem;
	height: auto;
}
.pref{
	width: 98%;
}
#download,#congratulation{
	font-size: 1.2rem;
}
}

/*@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 1%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease-in;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        transition: all 0.2s ease;
        left: 100%;
    }
    .navbar-collapse.show {
        left: 0;
    }
}*/