body{
	padding: 0;
	margin: 0;
}
.heading{
	/*background-color: rgba(255,255,255,0.8);*/
  margin-top: -2rem;
 /* font-size: 1.5rem;
 font-weight: 700;*/



}
.headingBg{
 /* margin-top: 2rem;*/
  padding-top: 5rem;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
 }
 .nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}
.home{
 	 background-image: url(Images/gosolar.jpg);
    /*background-size: cover;*/
    background-position: center center; 
    background-repeat: no-repeat;
    position:relative;
   /* background-attachment: fixed;*/
   
/*background-size: contain;*/
 width: 100vw;
height: 85vh; 
background-size: 100% 100%;
}

#logo{
  width: 100px;
  height: auto;
  margin-left: 0.2rem;
}


.formBg{
   background-color: rgba(1,1,1,0.6) !important;
   width: 85%;
   margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0.2rem; 
   /*padding-top: 1.5%;*/
   
  /* height: 35% !important;*/
}
/*.popUp{
  margin-top: 2rem;
}*/
.form-control{
  padding: 6px;
  margin-top: -9px;
}

select{
  padding: 8px;
  height: 40px;
  line-height: 32px;
}

input{
  padding: 3px;
  margin-top: -2px;
}
 
/*.form-control-lg{
	background-color: rgba(0,0,0,0.5) !important;
	color: white !important;
	border: 2px solid white;
}*/

/*input::placeholder {
  color: white;
}*/

/*.faqHead{
	border: 2px solid green;
}*/

/*.faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
 
.faq_answer {
    height: 0px;
   /* display: hidden;*/
   

/*.plus{
	width: 2rem;
	height: auto;
}*/


.accordion {
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ededed; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}



/*Footer*/
.buttonImage{
  width: 10rem;
  height: auto;
  border: 1px solid white;
  border-radius: 8px;
}
.footerIcon{
  width: 25px;
  height: 25px;
  filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;

}
.footerIcon1{
  width: 13px;
  height: auto;
   
}
.place{
  margin-top: 3.6rem;
}
.footerIcon:hover{
 filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);

}
  .footer{
  /*background-color: #545454;*/
  background-color: rgba(0,0,0,0.9);
  /*background-color: #656565;*/
  /*background-color: #111111;*/
  /*background-color: #222222;*/

}
.contact{
  padding-top: 2rem;
  margin-top: 2rem;
}
.appStore{
  margin: 0.5rem ;
}
.btnLink{
  margin: 0.5rem ;
}

.mnre{
  width: 10rem;
  height: auto;
  
  margin-left: 3px;
}


@media (max-width: 767px){

  .home{
   background-image: url(Images/goMob.jpg);
    /*background-size: cover;*/
    background-position: center center; 
    background-repeat: no-repeat;
    position:relative;
   /* background-attachment: fixed;*/
   
/*background-size: contain;*/
 width: 100vw;
height: auto; 
background-size: 100% 100%;
}
   .heading {
   	font-size: 16px !important;
   /* background-color: rgba(1,1,1,0.6);*/
    color: white;
    /*margin-top: -1.5rem;*/
    /*padding-top: -1.8rem;*/
    padding-bottom: -1.2rem;

   }
   .headingBg{
    padding-top: 1rem;
   }
   .formBg{
    padding-top: 1rem;
   }
   
   .type{
   	font-size: 13px;
   }


.links{
  font-size: 11px;
}
.linkHead{
  font-size: 15px;
}
.mnre{
  width: 7rem;
  height: auto;
}
.place{
  margin-top: 1.2rem;
}
/*end of footer*/
.formBg{
  width: 100%;
  margin-top: 2px;
}
#popUp{
  width: 100%;
}


}

#datepicker-12 {
   color: green;
 }

 @media (min-width: 768px){
   #slot, .assess{
    margin-top: -25px;
    margin-bottom: -15px;
   }
 }
 .fa-map-marker,.fa-mobile{

position: relative;
 }
