html,body{
	padding: 0;
	margin: 0;
	/*font-family: 'Raleway', sans-serif;*/
	 /*background: url(Images/bg.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;*/
    max-width: 100%;
    overflow-x: hidden;
 }
 .navbar{
 	padding-top: 0;
 	padding-bottom: 0;
 }
 .nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}
 #logo{
    width: 100px;
    height: auto;
    margin-left: 0.2rem;
}


.form-bg{
    width: 50%;
    margin: 35px auto;
    /*margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;*/
    border: 1px solid green;
}

 /*Footer*/
.buttonImage{
    width: 10rem;
    height: /auto;
    border: 1px solid white;
    border-radius: 8px;
}
.footerIcon{
    width: 25px;
    height: 25px;
    filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;

}
.footerIcon1{
    width: 13px;
    height: auto;
     
}
.place{
    margin-top: 3.6rem;
}
.footerIcon:hover{
 filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);

}
    .footer{
    /*background-color: #545454;*/
    background-color: rgba(0,0,0,0.9);
    /*background-color: #656565;*/
    /*background-color: #111111;*/
    /*background-color: #222222;*/

}
.contact{
    padding-top: 2rem;
    margin-top: 2rem;
}
.appStore{
    margin: 0.5rem ;
}
.btnLink{
    margin: 0.5rem ;
}

.mnre{
    width: 10rem;
    height: auto;
    
    margin-left: 3px;
}


@media (max-width: 767px){
    .links{
    font-size: 11px;
}
.linkHead{
    font-size: 15px;
}
.mnre{
    width: 7rem;
    height: auto;
}
.place{
    margin-top: 1.2rem;
}
.form-bg{
    width: 90%;
    margin: 5px auto;
}
.heading{
    font-size: 1rem;
}
}