html,body{
	padding: 0;
	margin: 0;
    
	/*font-family: 'Raleway', sans-serif;*/
	 /*background: url(Images/bg.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;*/
    max-width: 100%;
    overflow-x: hidden;
 }
 .navbar{
 	padding-top: 0;
 	padding-bottom: 0;
 }
 .navbar-nav > li > a{
  display: block;
 }

 .navbar-nav > li > a:hover {
   /*border: 1px solid green;*/
    /*translate : 5px;*/
    font-size: 20px;
}


 .home{
 	 background: url(Images/back.png);
    /*background-size: cover;*/
    background-position: center center; 
    background-repeat: no-repeat;
    position:relative;
   

 width: 100vw;
height: 70vh; 
background-size: 100% 100%;
}

nav{
overflow: auto;
}
.nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}



input{
	padding-top: 1px;
}
 
 #window{
 	background-color: rgba(0,0,0,0.6) !important;
 	padding: 2rem;
 	margin: 1.3rem;
 	border: 1px;
 	color: white;
 	/*border-radius: 15px;*/
 }
.carousel-item.active {
    display:block;
}

#logo{
	width: 100px;
	height: auto;
	margin-left: 0.2rem;
}

.form-control{
	padding: 6px;
}

.form-group {
    margin-bottom: 7px;
}
input{
	background-color:rgba(255,255,255,1) !important;
}
/*.frm{
	margin:3px;
}*/

/*input{
  border:none;
  background-color: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.input-group{
  border: 1px gray solid;
  padding: 10px;
}*/
.frm1{margin-top: -0.5rem;}

#formBg{
   background-color: rgba(0,0,0,0.6) !important;
   padding-bottom: 3%;
   width: 50%;
   height: 60% !important;

}
i{
	border-radius: 0%;
}
.marker:hover{
   cursor: pointer;
   /*translate: 5px;*/
}
#popUp{
	width: 80%;
	height: ;
}
.btn-block{
	margin-top: 0.5rem;
	background-color: #307a11;
	color: white;
}
#title{
	/*background-color: rgba(255,255,255,1) !important;*/
	/*border-radius: 8px;*/
	padding: 1rem;
	font-family: 'Roboto', sans-serif;

}
.content{
	padding-top: 5%;
	padding-bottom: 5%;
}
.submit{
	background-color: rgba(255,255,255,0.8) !important;
	/*border-radius: 8px;*/
	padding: 1rem;

}
.box{
	margin-bottom: 2rem;
	z-index:0;
}
.card{
	background-color: #ededed;
	margin: 0.8rem auto;
	z-index: 1;
	box-shadow: 0 8px 9px rgba(0, 0, 0, 0.7);
}
.cardImg1{
	width: 100px;
	height: auto;
	margin: 0.5rem auto;
}
.cardInfo{
	font-size: 1rem;
	
}
.card-title{
	font-weight: 600;
	margin: 0 auto;
	font-size: 1.2rem;
}
.cb1{
	background-color: #f0f0f0;; 
	color:black;
}

.frame{
	margin-top: 0.5rem;
}
/*.cb1{
	background-color: #94c83d;
	color: white;
}*/
/*.footerBgImage{
	background-image: url(Images/footerImg.jpeg);
    /*background-size: cover;*/
   /* background-position: center; 
    background-repeat: no-repeat;
    position:relative;
    width: 100vw;
    height:auto; 
    background-size: 100% 100%;

}*/
/*.footerCard{
	padding-top: 3rem;
	padding-bottom: 3rem;
}*/


.slider{
	margin-top: 1rem;
}
/*
/*Footer*/
.buttonImage{
	width: 10rem;
	height: /auto;
	border: 1px solid white;
	border-radius: 8px;
}
.footerIcon{
	width: 25px;
	height: 25px;
	filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;

}
.footerIcon1{
	width: 13px;
	height: auto;
	 
}
.place{
	margin-top: 3.6rem;
}
.footerIcon:hover{
 filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);

}
	.footer{
	/*background-color: #545454;*/
	background-color: rgba(0,0,0,0.9);
	/*background-color: #656565;*/
	/*background-color: #111111;*/
	/*background-color: #222222;*/

}
.contact{
	padding-top: 2rem;
	margin-top: 2rem;
}
.appStore{
	margin: 0.5rem ;
}
.btnLink{
	margin: 0.5rem ;
}

.mnre{
	width: 10rem;
	height: auto;
	
	margin-left: 3px;
}

@media (max-width: 767px){
#window{
	display: none;
}
#formBg{
background-color: rgba(0,0,0,0.6) !important;
width: 95%;
z-index: 0;
margin-top: 5px !important;

}
 #popUp{
 	width: 100%;

 }
 .content{
 	padding-top: 0;
 	margin-top: 0;
 }

.slideText{
	font-size: 1.3rem;
}
.links{
	font-size: 11px;
}
.linkHead{
	font-size: 15px;
}
.mnre{
	width: 7rem;
	height: auto;
}
.place{
	margin-top: 1.2rem;
}
.card{
	width: 20rem;
}

/*.frm1{margin-top: 0.5rem;}*/

}
@media (min-width: 769px ){
	.slideText{
		font-size: 2rem;

	}
}

@media (min-width: 767px) and (max-width: 1023px){
	#window h4{
		font-size: 18px;
	}
}

@media (max-width: 415px){
    .home{
    	background: url(Images/banner.png);
    	background-position: center; 
	    background-repeat: no-repeat;
	    position:relative;
	   

		width: 100vw;
		height: auto; 
		background-size: 99% 99%;
    }
  }


}

@media (min-width: 240px) and (max-width: 767px){
	#heading{
		font-size: 20px;
	}
     
	.slideText{
		font-size: 1rem;
	}
}

#popUp{
	top: -400px;
	animation: drop 2s ease forwards;
}

@keyframes drop{
    0%{opacity: 0}

    70%{ transform: translateY(30px;)  }
    100%{ transform: translateY(15px); opacity: 1; }
}
/*range slider */
/*Range Slider*/

.rangeSlider .sliderP,
.section .solar {
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-family: Helvetica;
    font-size: 300%;
    font-weight: lighter;
}

.header .rangeSlider .hero {
    display: inline;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    color: white;
    line-height: 44px;
}

@media only screen and (max-width:768px) {
    .header .rangeSlider .hero {
        font-size: 20px;
		display:none;
    }
}
.rangeSlider .fullForm  {
    margin-top: 200px;
    padding-bottom: 15px;
}

.opacityBlock {
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    position: absolute;
    bottom: 0px;
    left:70px;
	right:70px;
    height: 115%;
    margin-bottom: -20px;
}
.byClick
{
	margin:0px 25px 0px 35px;
}
@media only screen and (max-width:768px)
{
	.byClick
	{
		margin:0px;
	}
	
}
@media only screen and (max-width:1208px)
{
	.opacityBlock
	{
		left:5px;
		right:5px;
		
		
	}
}

@media only screen and (max-width:768px) {
    .rangeSlider .fullForm {
        margin-top:-15px;
        margin-bottom: 30px;
    }
    .opacityBlock {
        margin-bottom: -100px;
		height: 140%;
    }
}

.header .fullForm .range .budget,
.calculator .range .budget {
    font-family: 'Titillium Web', sans-serif;
    height: 20px;
    color: white;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    padding-bottom: 20px;
}
@media only screen and (max-width:768px)
{
	.header .fullForm .range .budget,
.calculator .range .budget 
{
	font-size: 15px;
}
}

/*.header .fullForm .tempText span {
    font-family: 'Titillium Web', sans-serif;
    height: 10px;
    font-size: 10px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: yellow;
    visibility: hidden;
}*/
#tempText1{
	font-size: 12px;
}

.rangeMinMax {
    padding-bottom: 0px;
}

.rangeMinMax p {
    background-color: #D6D8D6;
    color: #5B5F5B;
    display: inline;
    border-radius: 8px;
    padding: 3px;
    font-family: Helvetica;
}

#location {
    display: none;
}

#error {	
	font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    height: 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: yellow;
	padding:20px 0px 20px 0px;
}
.header .rangeSlider .fullForm .formInput
{
	margin-top:5px;
}
@media only screen and (max-width:988px)
{
	.header .rangeSlider .fullForm .formInput
	{
		margin-top:0px;
	}
	.header .rangeSlider .fullForm .formInput button
	{
		margin-top:40px;
	}
}
.rangeSlider .input-group input {    
    border-radius: 0px;
}

.rangeSlider .input-group{
    color: black; 
    font-family: Helvetica;
    width: 110%;


}

.rangeSlider .input-group #areaLocation {
    color: grey;
    font-family: Helvetica;
    width: 100%;
    height: 35px;
}

.rangeSlider button {
    border: none;
    color: white;
    background-color:#1FB9DF;
    border-radius: 0px;
    width: 100%;
    height: 25px;
}


.rangeSlider button:hover {
    opacity: 1;
    background-color: #fff430;
    transition-duration: .2s;
    filter: alpha(opacity=100);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 243, 0, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255, 243, 0, 1);
    box-shadow: 0px 0px 15px 0px rgba(255, 243, 0, 1);
    -webkit-animation:  box-shadow .2s infinite; /* Safari 4.0 - 8.0 */
    animation: box-shadow .2s infinite;
}

@media only screen and (max-width:1068px) {
    .rangeSlider button {
        border-radius: 0px;
    }
    .rangeSlider .input-group {
        margin-top: 3px;
        width: 100%;
    }
	
}

@media only screen and (max-width:768px) {
    .header .fullForm .tempText span {
        font-size: 10px;
        line-height: 3px;
    }
    .rangeSlider button {
        border: none;
        color: white;
        background-color: #719BFA;
        border-radius: 0px;
        margin-top: 5px;
    }
}

.rangeSlider .input-group :focus {
    background-color: #D9DFD2;
    color: black;
}

/*@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}*/

/*.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}*/

.carousel-control-prev-icon {
    background-image: url("Images/arrowl.png");
      height: 50px;
      width: 50px;
      left:-40px;
      margin-left: -4%;

}

.carousel-control-next-icon {
    background-image: url("Images/arrowr.png");
      height: 50px;
     width: 50px;
     margin-right: -4%;
     /*margin-right: 150px;*/
     
}
.carousel-indicators> li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  color: #333;
}

.carousel-indicators {
  /*bottom:-50px;
  margin-bottom: 1.5rem;*/
  color: #333;
}

/*.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}*/

