body,html{
	padding: 0;
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
 
}
/*html{
	overflow-x: hidden; 
}*/
.navbar{
 	padding-top: 0;
 	padding-bottom: 0;
 }
 .nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}

#logo{
	width: 100px;
	height: auto;
	margin-left: 0.2rem;
}


.home{
 	 /*background-image: url(Images/scalc.jpg);*/
 	 /*background-image: url(Images/scal2.jpg);*/
 	 /*background-image: url(Images/scal3.jpg);*/
 	 background-image: url(Images/scal4.jpg);
    /*background-size: cover;*/
    background-position: center center; 
    background-repeat: no-repeat;
    position:relative;
   /* background-attachment: fixed;*/
   
/*background-size: contain;*/
 width: 100vw;
height: 90vh; 
background-size: 100% 100%;
}
.heading{
	padding-top: 3rem;
}

.formBg{
/*   background-color: rgba(0,0,0,0.7) !important;
   width: 90% !important;
   height: auto;
   padding-top: 1rem;
   padding-bottom: 0.3%;
   
   margin-bottom: 3rem;*/
  /* margin-top: 1rem;*/

    background-color: rgba(0,0,0,0.6) !important;
   width: 85%;
   margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0.2rem; 
}
.form-control{
	padding: 8px;
	/*margin-top: -2px;*/

}

.form-group{
	margin-top: -7px;
}

.value{
	float: right;
	font-size: 0.9rem;
	margin: 0.5rem;
	padding-top: 12px;
}
.value1{
	float: right;
	font-size: 0.9rem;
	margin: 0.5rem;
	padding-top: 1px;
}
.key{
	float: left;
	font-size: 0.9rem;
	margin: 0.5rem;
}
.info li{
	font-size: 20px;
	font-weight: 600;
	border: 1px solid black;
}
.info{
	float: center;

}
.content{
	background-color: #c2c2c2;
}
.keyValue{
	background-color: white;
	/*padding: 0.5rem;*/
	margin: 0.5rem;
	/*padding: 0.2rem;*/

}
.site{
  padding-bottom: -5px;
}

.accordion {
    
    cursor: pointer;
   
    width: 100%;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    margin-bottom: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*.card{
	width: 18rem;
	height: 18rem;
	border-radius: 50%;
	background-color: white;
	border: 1px solid black;
}*/
.circleImg{
	width: 20px;
	height: auto;
	float: center;
	margin: 1rem auto;
	padding-right: 2px;
}
/*.circleCard{
	background-color: #f2d7b4;
}
*/
.slider{
	margin-top: 1rem;
}

.list-group-flush{
	background-color: #c2c2c2;
}
.list-group-flush li{
	margin: 0.2rem;
	padding-right: 0.5rem;
}



/*footer*/

.slider{
	margin-top: 1rem;
}
.buttonImage{
	width: 10rem;
	height: auto;
	border: 1px solid white;
	border-radius: 8px;
}
.footerIcon{
	width: 25px;
	height: 25px;
	filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;

}
.footerIcon1{
	width: 13px;
	height: auto;
	 
}
.place{
	margin-top: 3.6rem;
}
.footerIcon:hover{
 filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);

}
	.footer{
	/*background-color: #545454;*/
	background-color: rgba(0,0,0,0.9);
	/*background-color: #656565;*/
	/*background-color: #111111;*/
	/*background-color: #222222;*/

}
.contact{
	padding-top: 2rem;
	margin-top: 2rem;
}
.appStore{
	margin: 0.5rem ;
}
.btnLink{
	margin: 0.5rem ;
}

.mnre{
	width: 10rem;
	height: auto;
	
	margin-left: 3px;
}






/*
.input{
	margin: 4px;
	padding: -6px;
}*/

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
}

/*.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}*/

/*.carousel-control-next-icon:after
{
  /*content: '>';*/
/*  font-size: 55px;
  color: red;
}*/

/*.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}*/

@media (max-width: 768px){
    .home{
    	background-image: url(Images/scalcMob.jpg);
	    /*background-size: cover;*/
	    background-position: center center; 
	    background-repeat: no-repeat;
	    position:relative;
	   /* background-attachment: fixed;*/
	   
	/*background-size: contain;*/
	 width: 100vw;
	height: auto; 
	background-size: 100% 100%;
	    }
}

@media (min-width: 768px){
	input,
input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
}

.value{
	font-size: 1rem;

}
.key{
	font-size: 1rem;
}
}
@media(max-width: 767px){
.formBg{
	width: 100% !important;
}

/*footer*/
.links{
	font-size: 11px;
}
.linkHead{
	font-size: 15px;
}
.mnre{
	width: 7rem;
	height: auto;
}
.place{
	margin-top: 1.2rem;
}
.heading{
	font-size: 20px;
	font-weight: 700;
}

}
.carousel-control-prev-icon {
    background-image: url("Images/arrowl.png");
      height: 50px;
      width: 50px;
      left:-40px;
      margin-left: -20rem;



}

.carousel-control-next-icon {
    background-image: url("Images/arrowr.png");
      height: 50px;
     width: 50px;
     margin-right: -20rem;
     /*margin-right: 150px;*/
     
}