.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  padding-top:15px;
  top:-30px;
}

.rangeslider {
  background-color: #fff;
  border-radius: 0;
  height: 0.5rem;
}


.rangeslider__fill {
  background-color: rgb(41,129,23);
  border-radius: 0;
  
}
.rangeMinMax{
  display: hidden;
}

.rangeslider__handle {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  margin-top:3px;
  transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
}
.rangeslider__handle::after {
  display: none;
}
.rangeslider__handle:hover, .rangeslider__handle:active {
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  transition: transform 0.1s ease-in-out;
  -moz-transition: transform 0.1s ease-in-out;
  -webkit-transition: transform 0.1s ease-in-out;
}

.rangeslider__value-bubble {
  position: absolute;
  top: -37px;
  left: 50%;
  bottom: 0.5rem;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  text-align: center;
  background-color: rgb(41,129,23);
  color: #fff;
  width: auto;
  height:25px;
  margin-top: 3px;
  padding-bottom:5px;
  padding-right:5px;
  padding-left:5px;
  white-space: nowrap;
  border-radius:5px;
}

