body{
	padding: 0;
	margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

 /*.home{
 	 background-image: url(Images/testiBg.jpeg);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    position:relative;
    /*background-attachment: fixed;*/
   

 /*width: 100vw;
height: 80vh; */
/*background-size: 100% 100%;*/
/*}*/
.navbar{
 	padding-top: 0;
 	padding-bottom: 0;
 }
 .nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}

 #logo{
	width: 100px;
	height: auto;
	margin-left: 0.2rem;
}
.cardImg1{
	width: 120px;
	height: auto;
	margin: 0.5rem auto;
	background-color: #ededed;
	
}

.card{
	/*background-color: #449eab;*/
	background-color: #ededed;
    z-index: 1;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.7);
}
.cardInfo{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
/*Footer*/
.buttonImage{
	width: 10rem;
	height: auto;
	border: 1px solid white;
	border-radius: 8px;
}
.footerIcon{
	width: 25px;
	height: 25px;
	filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;

}
.footerIcon1{
	width: 13px;
	height: auto;
	 
}
.place{
	margin-top: 3.6rem;
}
.footerIcon:hover{
 filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);

}
	.footer{
	/*background-color: #545454;*/
	background-color: rgba(0,0,0,0.9);
	/*background-color: #656565;*/
	/*background-color: #111111;*/
	/*background-color: #222222;*/

}
.contact{
	padding-top: 2rem;
	margin-top: 2rem;
}
.appStore{
	margin: 0.5rem ;
}
.btnLink{
	margin: 0.5rem ;
}

.mnre{
	width: 10rem;
	height: auto;
	
	margin-left: 3px;
}


@media(max-width: 767px){
.formBg{
	width: 100% !important;
}

/*footer*/
.links{
	font-size: 11px;
}
.linkHead{
	font-size: 15px;
}
.mnre{
	width: 7rem;
	height: auto;
}
.place{
	margin-top: 1.2rem;
}

}
.heading{
	/*padding:3rem;*/
	
}
.headingBg{
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 1.5rem;

}

.slideText{
	font-size: 1.5rem;
}

@media (min-width: 769px ){
	.slideText{
		font-size: 2rem;

	}
}
#carouselContent{
   margin-top: 3%;
}

/*
@media (max-width: 800px){
    .home{
    	background: url(Images/testiBgMob.jpeg);
    	background-position: center; 
	    background-repeat: no-repeat;
	    position:relative;
	   

		width: auto;
		height: 90vh; 
		background-size: 100% 100%;
    }
  }


}*/

.carousel-inner > .item img + img {
  position: absolute;
  left: 0;
  top: 0;
}

/*.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 3px solid black;
  background-image: none;
}*/

.carousel-control-prev-icon {
    background-image: url("Images/arrowl.png");
      height: 50px;
      width: 50px;
      left:-40px;
      margin-left: -20rem;



}

.carousel-control-next-icon {
    background-image: url("Images/arrowr.png");
      height: 50px;
     width: 50px;
     margin-right: -20rem;
     /*margin-right: 150px;*/
     
}

