body{
	padding: 0;
	margin: 0;
}
.heading{
	/*background-color: rgba(255,255,255,0.8);*/
  margin-top: -2rem;
 /* font-size: 1.5rem;
 font-weight: 700;*/



}
.headingBg{
 /* margin-top: 2rem;*/
  padding-top: 5rem;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
 }
 .nav-link{
    font-size: 18px;
    /*font-weight: 700;*/
}

#logo{
  width: 100px;
  height: auto;
  margin-left: 0.2rem;
}