body{
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
}
.navbar{
	max-height: 100px;
}
.nav-link{
	display: block;
}
#brand-logo{
	margin-left: 20px;
}
.sub-footer{
	background-color: #00C9B1;
	color:white;
}
.sub-footer-links{
	text-align: center;
	border-bottom: 1px solid white;
}

.gosolar{
	display: flex;
	justify-content: center;
	/*z-index: -1;*/
}
.solar-btn{
	background-color: green;
	color:white;
}
.videoframe{
	display: flex;
	justify-content: center;
	max-height: 400px;
	margin-bottom: 3rem;
	/*background-color: #d3d3d3;*/
}

/*.embed-responsive-item{
	max-width: 70%;
	max-height: 90%;
	margin-left: 50px;
	margin-right: 50px;
}*/
iframe{
	margin: 25px auto ;
	width:1024px;
	height: 450px;
	display: block;
	margin-bottom: 50px;
}
.card{
	margin-top: 3rem;
}
.card-title{
	padding-top: 2rem;
}

.connection{
	margin-left:1.2rem;
}
.footer{
	background-color: #545454;
	color:white;
}
.contactus{
	padding: 2rem;
}
.mpas{
	padding: 2rem;
}

#map {
        height: 200px;
        width: 80%;
   }

 #contentTwo{
 }  

 @media (min-width: 320px) and (max-width: 480px) {
  
  iframe{
  	width:320px;
	height: 240px;
  }
  .break{
  	padding-bottom: 1.3rem;
  	
  }
}


@media (min-width: 481px) and (max-width: 800px) {
  
  iframe{
  	width: 481px;
  	height: 320px;
  }
  
  
}