body{
	margin: 0;
	padding: 0;
	background-color: #ededed;
}
li{
	list-style: none;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
	margin-left: 1rem;
}
.nav ul li{
	display: inline-block;
}
.nav ul li a{
	padding-left: 10px;
	margin-left: 10px;
}
.nav ul{
	display: flex;
	justify-content: space-around;
}
.data{
	padding-top: 15px;
	margin-bottom: 20px;
}
.dataImg{
	width: 45px;
	height: 45px;
}
.figures{
	float: right;
}
.solar-energy,.money-saved{
	
	background-color: #0E9577;
	color: white;
}
.power, .other{
	background-color: #585858;
	color: white;
}
.card-body h5 span{
   font-weight: 300;
   font-size: 1rem;
}
/*.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}*/

.factorImg{
	width: 20px;
	height:20px;
}

.factorHeader1{
	background-color: #1CA2BB;
	color: white;
}
.factorHeader2{
	background-color: #fc663d;
	color:white;
}
.factorHeader3{
	background-color: #2dbf94;
	color: white;
}

.headerImg{
	padding-right: 2px;
	padding-left: 2px;
	max-width: 35px;
	max-height: 35px;
}
.stats{
	background-color: white;

}
.custom-control-inline{
	margin: 10px auto;
}
.plantDetails{
	margin-bottom: 20px;
}

.info,.data{
	overflow: hidden;
}
fieldset{
	text-align: center;
}
.chart{
	width: 85%;
	height: 65%;
	border: 1px solid #d3d3d3;
	margin: 5px auto;
}
.chart-heading{
	margin: 2px auto;
}




@media (max-width: 575px) {
	.data{
		display: flex;
		flex-direction: column;
	}
}
    


@media (max-width: 767px){
   .info{
   	display: flex;
   	flex-direction: column;
   }

   .info .box-1{
   	order: 1;
   }
   .info .box-2{
   	order: 0;
   }
   .info .box-3{
   	order: 2;
   }
}

@media (min-width: 574px) and (max-width: 957px){
	.dataImg{
         width: 40px;
         height: 40px;
	}
	.card-text{
		font-size: 0.8em;
	}
}
@media (min-width: 768px) and (max-width: 1055px){
	.factorImg{
		width: 15px;
		height: 15px;
	}
	.card{
		font-size: 0.8rem;
	}
}


