body,html{
	padding: 0;
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}
.home{
   background-image: url(Image/home.jpg);
    /*background-size: cover;*/
   background-position: center center; 
   background-repeat: no-repeat;
   position:relative;
   /* background-attachment: fixed;*/
   
/*background-size: contain;*/
  width: 100vw;
  height: auto; 
  
  /*background-size: 100% 100%;*/
}

.homeBtn{
  padding-top: 30% ;
  padding-bottom: 8%;

}

.feature{
   background-image: url(Image/bg.png);
    /*background-size: cover;*/
   background-position: center center; 
   background-repeat: no-repeat;
   position:relative;
   /* background-attachment: fixed;*/
   
/*background-size: contain;*/
  width: 100vw;
  height: auto; 
  background-size: 100% 100%;

}

.content{
  margin-top: 5%;
  margin-bottom: 
}
.appBtn{
  margin-top: 5%;
}
.app{
  background-color: white;
  border: 2px solid green;
  border border-radius: 25px;
}
.listText{
  font-size: 1.2rem;
}
.mobile{
  z-index: 1;
  border-radius: 25px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  width: 
}
.info{
  font-size: 1.2rem;
}

/*Footer*/
.footer{
   background-image: url(Image/footer1.jpg);
    /*background-size: cover;*/
   background-position: center center; 
   background-repeat: no-repeat;
   position:relative;
   /* background-attachment: fixed;*/
   
/*background-size: contain;*/
  width: 100vw;
  height: auto; 
  background-size: 100% 100%;

}

.buttonImage{
  width: 10rem;
  height: /auto;
  border: 1px solid white;
  border-radius: 8px;
}

.appStore{
  margin: 0.5rem ;
}
.btnLink{
  margin: 0.5rem ;
}

.footerIcon{
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
 }


 @media (max-width: 767px){
  .listText{
    font-size: 0.9rem;
  }
  .info{
    font-size: 1rem;
  }
 }